<!DOCTYPE html>
<html Lang="es">
	<head>
		<meta charset="utf-8">
		<link type="image/x-icon" href="https://image.ibb.co/cOHY06/Oniichat.png" rel="icon">
		<title>OniiChat</title>

        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/js/default.js"></script>

	</head>
	<body style="background-color:#F17408";>
		<div align="left">
			<style type="text/css">
				.b1 {margin-top: -25px; margin-left: 140px; float: left; background-color: white;}
				.b3 {margin-top: 500px; margin-left: -192px; float: left; background-color: white;}
			</style>
			<h1 style="color: white; margin-left: 66px;">Tus Contactos</h1>
			<h1 style="color: white; margin-left: 66px;">OniiChan ÜwÜ</h1>
			<br>
			<button class="b1" name="buscar">
				<img src="https://image.flaticon.com/icons/svg/34/34733.svg" height="40" width="40" align="left"; margin:2px"/>
			</button>
			<hr style="width: 330px; float: left; margin-top: 30px; margin-left: -195px; color: white;">
			<hr style="width: 330px; float: left; margin-top: 480px; margin-left: -330px; color: white;">
			<button class="b3" name="agregar">
				<img src="https://image.flaticon.com/icons/png/512/283/283234.png" height="40" width="40" align="left"; margin:2px"/>
			</button>
			<div style="background-color:#F17408; width:350px;height:618px; border-right:4px solid white; margin-top: -72px; "></div>
		</div>
		<div align="right">
			<style type="text/css">
				.form-control {margin-top: -55px; margin-left: 365px; float: left}
				.b2 {margin-top: -55px; margin-right: 10px; float: right; background-color: white;}
				
			</style>
			<hr style="width: 970px; float: right; margin-top: -516px; margin-right: 5px; color: white;">
			
			<form id="chat-form">
	        	<div class="panel panel-default">
	        		<div class="panel panel-default" id="coutput" style="border : solid 2px #000000; background : #ffffff; color : #000000; padding : 4px; width : 940px; height : 440px; overflow : auto; float: right; margin-top: -500px; margin-right: 10px; ">
	        		</div>
	            </div>
	            <br>
	            <div class="text-right">
	                <button type="button" id="clear-button" class="btn btn-warning" style="margin-top: -55px; margin-right: 65px; float: right; background-color: white;">Limpiar</button>
	                <button type="submit" class="btn btn-success" style=" margin-top: -55px; margin-right: 170px; float: right; background-color: white;">Enviar</button>
	            </div>
	        </form>

			<input class="form-control" id="cinput" style="" type="text" name="mensaje" size="100" placeholder="Escriba su mensaje aqui...">
			<button class="b2" name="archivar">
				<img src="http://www.freeiconspng.com/uploads/paper-clip-icon-24.png" height="20" width="20" align="right"; margin:2px"/>
			</button>
		</div>
		
	</body>
</html>
