{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1 style="color:#067D10";>¡Bienvenido OniiChan ÜwÜ!</h1>
	</div>
	<div>
		<img src="https://image.ibb.co/cOHY06/Oniichat.png" title="OniiChat" height="350" width="350" align="left-center" style="float:left; margin:10px"/>
	</div>
	<form method="POST" action="/">
		<div class="form-group" align="center">
			<br/>
			<br/>
			<h1 style="color:#067D10";>INICIA SESIÓN</h1>
			<h2 style="color:#067D10><font size="1">Usuario:</font></h2>
				<p><input type="text" maxlength="25" minlength="5" name="USUARIO" required=""></p>
			<h3 style="color:#067D10><font size="1">Contraseña:</font></h3>
				<p><input type="password" maxlength="25" minlength="3" name="CONTRASEÑA" required=""></p>
				<br/>
				<br/>
			<p><input type="submit" class="btn bbtn-primary" value="Entrar"></p>
		</div>
	</form>
{% endblock %}